<div class="container-fluid mtop20">
    <div class="row text-center mbottom20">
        <img src="images/mcfadyen-220p.gif" class="text-center">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-8 animated fadeInUp">
        <div class="jumbotron  bg-semi-transparent txt-white">
            <div class="container">
                <form id="upload_form" name="upload_form" novalidate>
                    <div class="col-md-2">
                        <!-- used default method for this test. Using default browser method _GET -->
                        <div class="row mbottom30">
                            <img ng-src="{{vm.getProfileImage()}}" id="preview" class="center-block img-circle img-fluid m-y">
                        </div>
                        <div class="text-center mtop20">
                            <span class="btn btn-register fileinput-button">
                                <button type="button" ng-disabled="upload_form.$invalid" ng-click="vm.edit()" class="btn btn-xs btn-register"><i class="glyphicon glyphicon-check"></i> Edit profile</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-8 no-space">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstNameField" class="control-label">First Name: {{vm.data.name}}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastNameField" class="control-label hidden-xs">Last Name: {{vm.data.last_name}}</label>
                            </div>
                        </div>
                        <!-- AGE RANGE -->
                        <div class="col-md-12">
                            <label class="hidden-xs"><i class="fa fa-calendar-check-o"></i> AGE: {{vm.data.age}}</label>
                        </div>
                        <div class="row mbottom20"></div>
                        <!-- EMAIL FIELD -->
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label for="inputEmail" class="control-label">Email: {{vm.data.email}}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="phoneField" class="control-label">Phone: {{vm.data.phone}}</label>
                        </div>
                        <div class="row"></div>
                        <div class="col-md-6">
                            <label for="country" class="control-label">Country: {{vm.data.country}}</label>
                        </div>
                        <div class="col-md-6">
                            <label for="state" class="control-label">State: {{vm.data.state}}</label>
                        </div>
                        <div class="row"></div>
                        <!-- SELECT ADDRESS -->
                        <div class="col-md-12">
                            <label for="address" class="control-label">Adress: {{vm.data.adress}}</label>
                            <!-- The two Home Address -->
                            <div id="addressHome" class="form-horizontal animated fadeInDown">
                                <div ng-if='vm.data.home'>
                                    <label class="control-label">1<sup>st</sup>&nbsp; Home Address: {{vm.data.home}}</label>
                                </div>
                                <div ng-if='vm.data.home2'>
                                    <label class="control-label">2<sup>nd</sup>&nbsp; Home Address: {{vm.data.home2}}</label>
                                </div>
                            </div>
                            <!-- the two company address -->
                            <div id="addressCompany" class="form-horizontal animated fadeInDown">
                                <div ng-if='vm.data.company'>
                                    <label class="control-label">1<sup>st</sup>&nbsp; Company Address: {{vm.data.company}}</label>
                                </div>
                                <div ng-if='vm.data.company2'>
                                    <label class="control-label">2<sup>nd</sup>&nbsp; Company Address: {{vm.data.company2}}</label>
                                </div>
                            </div>
                        </div>
                        <!-- SELECTIZE INTERESTS -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="interestsField" class="control-label"><i class="fa fa-tags"></i> Interests: {{vm.data.interests}}</label>
                            </div>
                        </div>
                        <!-- CHECKBOX NEWSLETTER -->
                        <div class="col-md-12">
                            <div class="row"></div>
                            <div class="form-group">
                                <button type="button" class="btn btn-large btn-register"><i class="glyphicon glyphicon-check"></i> Confirm</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>